
<table class="table table-striped text-center">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Dni</th>
      <th scope="col">Name</th>
      <th scope="col">Lastname</th>
      <th scope="col">Birthday</th>
      <th scope="col">Gender</th>
      <th scope="col">Has Car</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let person of people | async">
      <th scope="row">{{person.dni}}</th>
      <td>{{person.name}}</td>
      <td>{{person.lastname}}</td>
      <td>{{person.birthday}}</td>
      <td>
        <span class="{{person.gender == 'FEMALE' ? 'fas fa-female' : 'fas fa-male'}}"></span>
      </td>
      <td>
        <span class="{{person.hascar ? 'fas fa-check' : 'fas fa-times'}}"></span>
      </td>
      <td>
        <app-people-edit [person]="person" (reload)="reloadData($event)"></app-people-edit>
      </td>
      <td>
        <app-people-delete [id]="person.id" (reload)="reloadData($event)"></app-people-delete>
      </td>
    </tr>
  </tbody>
</table>
<app-people-new (reload)="reloadData($event)"></app-people-new>
